@model List<Sheet>

<div class="row pb-3">
    @foreach (var obj in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2 pd-8">
                <div class="col-12 p-1">
                    <div class="card border-0 p-0 pb-2 shadow  border-top border-5 border-primary rounded" style="width: 250px; height: 348px;">
                        <div class="card-body" style="width: 250px; height: 348px;">
                            <div style="overflow: hidden; width: 220px; height: 30px;">
                                <h5>@obj.Name</h5>
                            </div>

                            <p class="form-text for" style="overflow: hidden; width: 200px; height: 210px;">@obj.Text</p>
                        </div>

                        <div style="text-align: right;">
                            <div class="w-75 btn" style="text-align: right;">
                                @* <a asp-controller="Sheet" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i>
                                </a> *@
                                <a asp-controller="Sheet" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @* <div class="col-lg-3 col-sm-6">
        <div class="row p-2 pd-8">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow  border-top border-5 border-primary rounded" style="width: 250px; height: 348px;">
                    <div class="card-body text-center">
                        <br /> <br />
                        <a asp-controller="Sheet" asp-action="Upsert">
                            <img src="~/images/Add_image.png" style="width: 182px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
</div>