@model List<Sheet>

<div class="row pb-3">
    @foreach (var obj in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2 pd-8">
                <div class="col-12 p-1">
                    <div class="card border-0 p-0 pb-2 shadow  border-top border-5 border-primary rounded" style="width: 250px; height: 348px;">
                        <div class="card-body" style="width: 250px; height: 348px;">
                            <div style="overflow: hidden; width: 220px; height: 30px;">
                                <p style="font-weight: bold; font-size: 18px;">@obj.Name</p>
                            </div>
                            <div style="overflow: hidden; width: 200px; height: 210px;">
                                <p class="form-text for" style="overflow: hidden; ">@Html.Raw(obj.Text)</p>
                            </div>
                        </div>

                        <div style="text-align: right;">
                            <div class="w-75 btn" style="text-align: right;">
                                <a asp-controller="Sheet" asp-action="OffTrash" asp-route-id="@obj.Id" class="btn btn-primary">
                                    <i class="bi bi-arrow-left-square"></i>
                                </a>
                                <a asp-controller="Sheet" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if(Model.Count > 0)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2 pd-8">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 border-primary rounded" style="width: 250px; height: 348px;">
                        <div class="card-body text-center">
                            <br /> <br />
                            <a asp-controller="Sheet" asp-action="DeleteRange">
                                <img src="~/images/Remove_image.png" style="width: 182px;" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>