@model TabVM

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills text-center"
             id="v-pills-tab"
             role="tablist"
             aria-orientation="vertical">
            <ul class="nav flex-column nav-tabs" id="myTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="user-sheets-tab" data-toggle="tab" href="#user-sheets" role="tab" aria-controls="user-sheets" aria-selected="true">Пользовательские</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="admin-sheets-tab" data-toggle="tab" href="#admin-sheets" role="tab" aria-controls="admin-sheets" aria-selected="false">Администраторские</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="admin-sheets-tab" data-toggle="tab" href="#admin-sheets" role="tab" aria-controls="admin-sheets" aria-selected="false">Администраторские</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="admin-sheets-tab" data-toggle="tab" href="#admin-sheets" role="tab" aria-controls="admin-sheets" aria-selected="false">Администраторские</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="admin-sheets-tab" data-toggle="tab" href="#admin-sheets" role="tab" aria-controls="admin-sheets" aria-selected="false">Администраторские</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-9">
        @Html.Partial("/Areas/User/Views/Sheet/Index.cshtml", Model.Sheets)
    </div>
</div>
